# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.axfy
*.htm
*.bak
*.dep
*.d
*.nlp
*.crf
*.iex
*.map

# Executables
*.exe
*.out
*.app