# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.axf
*.htm
*.bak
*.dep
*.d
*.lnp
*.crf
*.iex
*.map
*.i

# Executables
*.exe
*.out
*.app
STM32Cube_FW_F0_V1.7.0
STM32Cube_FW_F1_V1.4.0
STM32Cube_FW_F4_V1.15.0
STM32Cube_FW_F7_V1.6.0